# Ignore all executables
*.out
*.exe
*.app

# Ignore object files
*.o
*.obj

# Ignore compiled libraries
*.a

# Ignore any other binary files you want to exclude

*.DS_Store
*.sh
UA/C/s7-cuad
UA/C/.clang_format
UA/C/p5.dSYM/Contents
UA/C/p5
UA/CPP/ex_jun23/.idea
UA/CPP/ex_jun23/cmake-build-debug/.cmake/api/v1
UA/CPP/ex_jun23/cmake-build-debug
UA/CPP/Practicas/p1/.cache/clangd/index
UA/CPP/Practicas/p1/autocorrector-prac1
UA/CPP/Practicas/p1/build
UA/CPP/exOpp_jun23/.idea
UA/CPP/exOpp_jun23/cmake-build-debug

UA/CPP/testingCPP/cmake-build-debug/

UA/CPP/testingCPP/test

UA/CPP/examenes/exOpp_jun23/cmake-build-debug/

UA/CPP/examenes/ex_jun23/cmake-build-debug/
