# Ignore all executables
*.out
*.exe
*.app

# Ignore object files
*.o
*.obj

# Ignore compiled libraries
*.a

# Ignore any other binary files you want to exclude

*.DS_Store
*.sh
UA/C/s7-cuad
UA/C/.clang_format
UA/C/p5.dSYM/Contents
UA/C/p5
UA/CPP/ex_jun23/.idea
UA/CPP/ex_jun23/cmake-build-debug/.cmake/api/v1
UA/CPP/ex_jun23/cmake-build-debug
